<h1>Liste des praticiens</h1>

 <%= form_tag praticiens_path, :method => 'get', :id => "praticiens_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %> 
    &nbsp;Archivés ? 
    <%  if params[:display_archive] %>
    <%= check_box_tag :display_archive, "yes", true %>
    <% else %>
    <%= check_box_tag :display_archive, "yes", false %>
    <% end %>
    Nb affiché : <%= select_tag :nbtodisplay, options_for_select([5, 10, 20, 50, 100, 500], :selected => params[:nbtodisplay]) %>
    <%= submit_tag "Rechercher", :name => nil %>
  </p>

  <div id="praticiens"><%= render 'praticiens' %></div>
<% end %>

<table class="table table-dark">
<thead>
  <tr>
    <th scope="col"><%= sortable "nom" %></th>
    <th scope="col"><%= sortable "prenom" %></th>
    <th scope="col">Pratique</th>
    <th scope="col">Email</th>
    <th scope="col">Téléphone</th>
    <th scope="col"><%= sortable "maxsenss" %></th>
    <th scope="col">Kids</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
</thead>
<tbody>	
<% @praticiens.each do |praticien| %>
  <tr class="<%= is_archive_boolean(praticien.archive) %>">
    <th scope="row"><%= praticien.nom %></td>
    <td><%= praticien.prenom %></td>
    <td><%= praticien.pratique %></td>
    <td><a href="mailto:<%= praticien.email %>"><%= praticien.email %></a></td>
    <td style="white-space: nowrap;"><a href="tel:<%= praticien.tel %>"><%= praticien.tel %></a></td>
    <td><%= human_boolean(praticien.maxsenss) %> </td>
    <td><%= human_boolean(praticien.kids) %> </td>
    <td><%= link_to 'Voir', praticien_path(praticien) %></td>
    <td><%= link_to 'Modifier', edit_praticien_path(praticien) %></td>
    <td><%= link_to 'Supprimer', praticien_path(praticien),
                method: :delete,
		            data: { confirm: 'Etes vous sûr?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'Nouveau praticien', new_praticien_path %>
<div>
<h3>Importer des données</h3>
<%= form_tag import_praticiens_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Importer le fichier CSV" %>
<% end %>
</div>